p {
    border: 1px solid rgb(5, 31, 5) ; 
    padding: 50px;
    width 350px;
    background-color: rgb(158, 191, 253);
    margin: 5px 10px 15px 20px:
  } 
  .a {
      width 300px;
      background-color: yellow  ;
  }